* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.{

}
.<div{

}
.id=main>
{

}
.id=header>
{

}
.
{

}
.</div>

{

}
.id=slider></div>

{

}
.id=content></div>

{

}
.id=footer></div>
{

}
.</div>{

}